.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    
}

.tab-pane
{
    -fx-tab-min-width:65px;
    -fx-tab-max-width:200px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-width:200px;
}
.tab-pane .tab
{
    -fx-background-color: #1b5889;
}

.tab-pane .tab:selected {
    -fx-background-color: #0e3d63;
}

.tab .tab-label { 
    -fx-text-fill: white;
    -fx-font:12px Consolas;
}

.tab:selected .tab-label { 
    
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-text-fill: #f2cb0c;
}

.root { 
    -fx-focus-color: transparent;
}

.combo-box {
    -fx-font:12px Consolas;
    -fx-cursor: hand;
}

.button:hover {
    -fx-cursor: hand;
}

.finalResult{
  -fx-opacity: 1.0 !important;
  -fx-text-inner-color: #129708;
  -fx-text-fill: #129708;
  -fx-font-weight: bold;
}

.clearComponentButton{
    -fx-background-color: linear-gradient(#b23131, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

/***** Table Styling *****/

.table-row-cell {
   -fx-dark-text-color: white;
   -fx-mid-text-color: white;
   -fx-light-text-color: white;
}

.table-column{
    -fx-alignment:CENTER;
}

.table-row-cell:odd{
    -fx-background-color: transparent;
}

.table-row-cell:even{
   -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #0e3d63;
}

.table-row-cell{
    -fx-border-color: #0e3d63;
    -fx-table-cell-border-color:#0e3d63;
}

.table-view{
    -fx-border-color: #0e3d63;
    -fx-font:12px Consolas;
}

.table-view .filler{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-text-fill: #f2cb0c;
}

.table-row-cell:focused {
   -fx-dark-text-color: #ed7702;
   -fx-mid-text-color: #ed7702;
   -fx-light-text-color: #ed7702;
}

.table-row-cell:hover {
    -fx-cursor: hand;
   -fx-dark-text-color: #f7dc55;
   -fx-mid-text-color: #f7dc55;
   -fx-light-text-color: #f7dc55;
}
