.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab-pane
{
    -fx-tab-min-width:65px;
    -fx-tab-max-width:160px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #1b5889;

}

.tab-pane .tab:selected
{
    -fx-background-color: #0e3d63;

}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding:2px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #f2cb0c;
}

.root { 
    -fx-focus-color: transparent;
}

.table-row-cell {
   -fx-dark-text-color: white;
   -fx-mid-text-color: white;
   -fx-light-text-color: white;
   -fx-background:-fx-accent;
}

.table-row-cell:odd{
    -fx-background-color:#004666;
}

.table-row-cell:even{
    -fx-background-color:#005780;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #0e3d63;
}

.table-row-cell{
    -fx-border-color: #0e3d63;
    -fx-table-cell-border-color:#0e3d63;
}

.table-view{
    -fx-border-color: #0e3d63;
}

.table-view .filler{
    -fx-background-color: #0e3d63;
}



.table-view .column-header-background .label{
    -fx-text-fill: #f2cb0c;
}

.table-row-cell:focused {
   -fx-dark-text-color: #f2cb0c;
   -fx-mid-text-color: #f2cb0c;
   -fx-light-text-color: #f2cb0c;
}

.table-row-cell:hover {
   -fx-dark-text-color: #f7dc55;
   -fx-mid-text-color: #f7dc55;
   -fx-light-text-color: #f7dc55;
}

