.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab-pane
{
    -fx-tab-min-width:65px;
    -fx-tab-max-width:160px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #1b5889;

}

.tab-pane .tab:selected
{
    -fx-background-color: #0e3d63;
    -fx-effect: innershadow(two-pass-box , rgb(242, 203, 12) , 2, 6.0 , 0 , 0);

}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding:2px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #f2cb0c;
}

.root { 
    -fx-focus-color: transparent;
}

